/*
Look at this
https://stackoverflow.com/questions/14676613/how-to-import-google-web-font-in-css-file

This adds it into this style sheet
*/

@import url("https://fonts.googleapis.com/css?family=Archivo");

header, footer{
	/*font-family: Noto Serif;*/
	font-family: Archivo Black;
	font-size: 50px;
	color: purple;
}

header{
	flex-direction: row;
    justify-content: space-between;
    min-height: auto;
    align-items: center;
} 

nav li {
	margin: 1%;
	padding: 1%;
	display: block;
	align-content: center;
	text-align: center;
	background: lightgray;
	width: 100%;
}

nav a {
	color: purple;
	font-family: Archivo;
	font-size: 70px;
	text-decoration: none;
}
.current{
	text-transform: uppercase;
	border: 3px solid black
}


section{
	border: 1px solid black;
	margin-top: 20px;
	padding: 10px;
	font-size: 50px;
}

a.skip-main {
    left:-40px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-40;
}

a.skip-main:focus, a.skip-main:active {
   	 	color: #fff;
    	background-color:#000;
    	left: auto;
    	top: auto;
    	width: 40%;
    	height: auto;
    	overflow:auto;
    	margin: 10px 35%;
    	padding:5px;
    	border-radius: 15px;
    	border:4px solid yellow;
    	text-align:center;
    	font-size:1.2em;
    	z-index:999;
}

.gallery {
	display: grid;
	/*grid-column-gap: 12px;*/
	grid-gap: 10px;
	grid-template-columns: 1fr;

}

.gallery img{
	width:100%;
	padding: 10px;
	height: 35vh;
	margin: 15px;
}

.jumping-pic {
	background-image: url("../images/wanderlustcopy.jpg");
/*	background-size: cover;*/

}


/*ipad view*/
@media screen and (min-width: 700px){
	.gallery{
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	nav ul {
		display:grid;
	}
}	

/*desktop view*/
@media screen and (min-width: 1000px){
	.gallery{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}

	nav li {
		margin: 1%;
		padding: 1%;
		float:left;
		align-content: center;	
		background: lightgray;
		width: 100%;
		font-size: 40px;
	}	

	nav a {
		color: purple;
		font-family: Archivo;
		font-size: 40px;
		text-decoration: none;
		display: inline;
	}

	#content {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 15px;
		font-size: 25px;
	}

}	
/*I changed the layout of my About Page in the Desktop View to have the text right next to the image*/
